# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js files
.next
out
next-env.d.ts

# Fumadocs files
.source

# Turborepo cache
.turbo

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
